@{
    ViewData["Title"] = "Trang quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="dashboard-welcome">
    <div class="welcome-card">
        <h1>👋 Chào mừng đến Trang quản trị</h1>
        <p style="margin-left:20px;">Xin chào, Admin! Bạn có thể quản lý hệ thống tại đây.</p>
    </div>
</div>


