@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: #1f1f1f;
}
.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #F4624A;
  position: absolute;
  -webkit-clip-path: polygon(45% -5%, 105% -5%, 105% 105%, 57% 105%);
  clip-path: polygon(45% -5%, 105% -5%, 105% 105%, 57% 105%);
}
.background .container-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 30px #dfdfdf);
}
.background .container-shadow:after {
  content: '';
  position: absolute;
  width: 70%;
  height: 80%;
  -webkit-clip-path: polygon(0 0, 45.5% 0, 56.2% 100%, 0 100%);
  clip-path: polygon(0 0, 45.5% 0, 56.2% 100%, 0 100%);
  background-color: white;
}
.background .container {
  position: relative;
  width: 70%;
  height: 80%;
  z-index: 2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background .container:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #F4624A;
  position: absolute;
  -webkit-clip-path: polygon(44.2% -5%, 105% -5%, 105% 105%, 57.8% 105%);
  clip-path: polygon(44.2% -5%, 105% -5%, 105% 105%, 57.8% 105%);
  border: solid 4px #F4624A;
}
.background .container .icon-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.background .container .icon-container img {
  width: 50px;
}
.background .container .image-container {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(46.2% -5%, 105% -5%, 105% 105%, 59.8% 105%);
  clip-path: polygon(46.2% -5%, 105% -5%, 105% 105%, 59.8% 105%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.background .container .image-container img {
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 28%;
}
.background .container .sign-up-form-shadow {
  position: absolute;
  z-index: 3;
  width: 40%;
  min-height: 350px;
  min-width: 300px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 30px #dfdfdf);
}
.background .container .sign-up-form-shadow:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 45.5% 0, 56.2% 100%, 0 100%);
  clip-path: polygon(0 0, 45.5% 0, 56.2% 100%, 0 100%);
  background-color: white;
}
.background .container .sign-up-form {
  position: absolute;
  z-index: 3;
  width: 40%;
  min-height: 350px;
  min-width: 300px;
  height: 60%;
  background-color: white;
  border-radius: 3px;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
}
.background .container .sign-up-form .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}
.background .container .sign-up-form label {
  color: #b9b9b9;
  text-transform: uppercase;
  font-size: 12px;
}
.background .container .sign-up-form input[type="text"] {
  border: none;
  border-bottom: 1px solid #b9b9b9;
  min-height: 45px;
  margin-bottom: 25px;
  outline: none;
}
.background .container .sign-up-form input[type="text"]:focus {
  border-bottom: 2px solid #F4624A;
}
.background .container .sign-up-form button {
  background-color: #F4624A;
  color: white;
  padding: 10px 25px;
  border-radius: 500px;
  outline: none;
  border: none;
  max-width: 150px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-end;
}
.background .container .sign-up-form button:hover {
  background-color: #f1381a;
}
.background .container .sign-up-form .subtext {
  position: absolute;
  color: #b9b9b9;
  bottom: -10%;
  align-self: center;
  font-size: 14px;
  cursor: pointer;
}
.background .container .sign-up-form .subtext:hover {
  border-bottom: 1px solid #b9b9b9;
}
