@model IEnumerable<GreenSpace.Models.Tag>


@{
    ViewData["Title"] = "Quản lý tag";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    
}

<head>
    <link rel="stylesheet" href="~/css/admin.css" />
</head>

<body>
    <div class="main-container">
        <div class="main-header">
            <h1>Quản Lý Tags</h1>
            <a asp-area="Admin" asp-controller="Tags" asp-action="Create" class="add-button">
                <i class="material-icons">add</i>
            </a>
        </div>

        <div class="content-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TÊN</th>
                        <th>HÀNH ĐỘNG</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        int index = 1;
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td class="action-buttons">
                                    <a asp-area="Admin" asp-controller="Tags" asp-action="Edit" asp-route-id="@item.Id" class="edit-btn">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <form asp-area="Admin" asp-controller="Tags" asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                                        <button type="submit" class="delete-btn" onclick="return confirm('Bạn có chắc chắn muốn xóa?')">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            index++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="no-data">Không có dữ liệu.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>

        


